<mat-tab-group>
    <mat-tab label="Produktionsprogramm">
        <table mat-table [dataSource]="entity">
            <ng-container matColumnDef="articleNumber">
                <th mat-header-cell *matHeaderCellDef>Artikel</th>
                <td mat-cell *matCellDef="let element">{{ element.article }}</td>
            </ng-container>
            <ng-container matColumnDef="periodN">
                <th mat-header-cell *matHeaderCellDef>Diese Periode</th>
                <td mat-cell *matCellDef="let element">{{ element.periodN }}</td>
            </ng-container>
            <ng-container matColumnDef="periodNplusOne">
                <th mat-header-cell *matHeaderCellDef>Periode+1</th>
                <td mat-cell *matCellDef="let element"><input matInput type="number" [(ngModel)] = "element.periodNplusOne" min="0" oninput="validity.valid||(value='0');"> </td>
            </ng-container>
            <ng-container matColumnDef="periodNplusTwo">
                <th mat-header-cell *matHeaderCellDef>Periode+2</th>
                <td mat-cell *matCellDef="let element"><input matInput type="number" [(ngModel)] = "element.periodNplusTwo" min="0" oninput="validity.valid||(value='0');"> </td>
            </ng-container>
            <ng-container matColumnDef="periodNplusThree">
                <th mat-header-cell *matHeaderCellDef>Periode+3</th>
                <td mat-cell *matCellDef="let element"><input matInput type="number" [(ngModel)] = "element.periodNplusThree" min="0" oninput="validity.valid||(value='0');"> </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <button mat-button (click)="create()" >speichern</button>
        
    </mat-tab>
  <!--
    <mat-tab label="Prognose">
        <table mat-table [dataSource]="ProdprogArticleResult">
            <ng-container matColumnDef="articleNumber">
                <th mat-header-cell *matHeaderCellDef>Artikel</th>
                <td mat-cell *matCellDef="let element">{{ element.articleNumber }}</td>
            </ng-container>
            <ng-container matColumnDef="periodN">
                <th mat-header-cell *matHeaderCellDef>Diese Periode</th>
                <td mat-cell *matCellDef="let element">{{ element.periodN }}</td>
            </ng-container>
            <ng-container matColumnDef="periodNplusOne">
                <th mat-header-cell *matHeaderCellDef>Periode+1</th>
                <td mat-cell *matCellDef="let element">{{ element.periodNplusOne }}</td>
            </ng-container>
            <ng-container matColumnDef="periodNplusTwo">
                <th mat-header-cell *matHeaderCellDef>Periode+2</th>
                <td mat-cell *matCellDef="let element">{{ element.periodNplusTwo }}</td>
            </ng-container>
            <ng-container matColumnDef="periodNplusThree">
                <th mat-header-cell *matHeaderCellDef>Periode+3</th>
                <td mat-cell *matCellDef="let element">{{ element.periodNplusThree }}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    </mat-tab>
    -->
</mat-tab-group>
