<h2>Planung</h2>
<div class="example-input-wrapper">
    <label for="duration">Animation duration:</label>
    <input id="duration" value="2000" type="number" min="0" step="100" #duration>
  </div>
<mat-stepper orientation="vertical" [animationDuration]="duration.value">
    <mat-step>
      <ng-template matStepLabel>Prognose, Produktionseingabe und Lagerprognose</ng-template>
      <ng-template matStepContent>
        <p>Tabelle hier</p>

        <button mat-raised-button color="accent" [routerLink]="['/warehouse_stock']">
            <mat-icon>inventory</mat-icon>
            Lagerbestand anzeigen
        </button>

        <button mat-raised-button color="accent" [routerLink]="['/warehouse_stock']">
            <mat-icon>playlist_add</mat-icon>
            Zusatzafuträge anzeigen
        </button>

        <button mat-raised-button color="accent" [routerLink]="['/warehouse_stock']">
            <mat-icon>refresh</mat-icon>
        </button>

        <button mat-raised-button color="accent" matStepperNext>
            weiter
        </button>

      </ng-template>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Disposition Eigenfertigung</ng-template>
      <ng-template matStepContent>
        <p>Tabelle hier</p>

        <button mat-raised-button color="accent" [routerLink]="['/warehouse_stock']">
            <mat-icon>refresh</mat-icon>
        </button>

        <button mat-raised-button color="accent" matStepperPrevious>zurück</button>

        <button mat-raised-button color="accent" matStepperNext>
            weiter
        </button>

      </ng-template>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Kaufteildisposition</ng-template>
      <p>Tabelle hier</p>

      <button mat-raised-button color="accent" [routerLink]="['/warehouse_stock']">
        <mat-icon>inventory</mat-icon>
        Lagerbestand anzeigen
    </button>

    <button mat-raised-button color="accent" [routerLink]="['/warehouse_stock']">
        <mat-icon>refresh</mat-icon>
    </button>

    <button mat-raised-button color="accent" matStepperPrevious>zurück</button>

    <button mat-raised-button color="accent" matStepperNext>
        weiter
    </button>

    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Kapazitätsbedarf</ng-template>
        <p>Tabelle hier</p>

        <button mat-raised-button color="accent" [routerLink]="['/warehouse_stock']">
            <mat-icon>inventory</mat-icon>
            Lagerbestand anzeigen
        </button>

        <button mat-raised-button color="accent" [routerLink]="['/warehouse_stock']">
            <mat-icon>refresh</mat-icon>
        </button>

        <button mat-raised-button color="accent" matStepperPrevious>zurück</button>

        <button mat-raised-button color="accent" matStepperNext>
            weiter
        </button>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Eingabetabelle</ng-template>
        <p>Tabelle hier</p>
        <button mat-raised-button color="accent" matStepperPrevious>zurück</button>
        <button mat-raised-button color="accent" [routerLink]="['/dashboard']">
            <mat-icon>checkmark</mat-icon>
            speichern
        </button>
      </mat-step>


  </mat-stepper>