<h2>GET: Vorschläge zur Kaufteildisposition (PurchasePartDisposition)</h2>

<table>
    <tr>
        <th>itemNumber</th>
        <th>deliveryTime</th>
        <th>discountQuantity</th>
        <th>initialStock</th>
        <th>requirementN</th>
        <th>requirementNplusOne</th>
        <th>requirementNplusTwo</th>
        <th>requirementNplusThree</th>
        <th>orderQuantity</th>
        <th>orderType</th>
        <th>orderColor</th>
    </tr>
    <tr *ngFor="let purchasepart of purchaseparts">
        <td>{{purchasepart.itemNumber}}</td>
        <td>{{purchasepart.deliveryTime}}</td>
        <td>{{purchasepart.discountQuantity}}</td>
        <td>{{purchasepart.initialStock}}</td>
        <td>{{purchasepart.requirementN}}</td>
        <td>{{purchasepart.requirementNplusOne}}</td>
        <td>{{purchasepart.requirementNplusTwo}}</td>
        <td>{{purchasepart.requirementNplusThree}}</td>
        <td>{{purchasepart.orderQuantity}}</td>
        <td>{{purchasepart.orderType}}</td>
        <td>{{purchasepart.orderColor}}</td>
    </tr>
</table>