<mat-form-field>
  <mat-label>Select a language</mat-label>
  <mat-select [(ngModel)]="language" disableRipple>
    <mat-option value="german">German</mat-option>
    <mat-option value="english">English</mat-option>
  </mat-select>
</mat-form-field>

<ng-container *ngIf="language == 'german'">
  <p>Hallo</p>
  <p>Willkommen auf Ihrer Supply-Chain-Anwendung. 
    Diese Dashboard-Seite dient Ihnen als Willkommensseite und gibt Ihnen einen kurzen Überblick, über den Benutzung dieser Anwendung.
    Über die seitliche Navigation erreichen Sie alle relevanten Punkte.
    Zuerst sollten Sie Ihre Daten über „Import-XML“ hochladen, damit das Tool eine Basis hat, um Ihnen bei ihren Eingaben zu unterstützen.
    Anschließend können Sie sich den aktuellen Lagerbestand anschauen („Bestand“), oder mit der eigentlichen Planung fortfahren. 
    Nach vollzogener Planung stehen Ihre Daten als XML unter „Export-XML“ bereit. 
  </p>
</ng-container>

<ng-container *ngIf="language == 'english'">
  <p>Hello</p>
  <p>Welcome to your Supply Chain application. 
    This dashboard page serves as a welcome page and gives you a short overview of how to use this application.
    You can reach all relevant points via the side navigation.
    First you should upload your data via "Import-XML", so that the tool has a basis to support you with your entries.
    Afterwards you can view the current stock ("Stock"), or continue with the actual planning. 
    After completed planning, your data will be available to download as XML under "Export-XML".
  </p>
</ng-container>
