<mat-form-field>
  <mat-label>Select a language</mat-label>
  <mat-select [(ngModel)]="language" disableRipple>
    <mat-option value="german">German</mat-option>
    <mat-option value="english">English</mat-option>
  </mat-select>
</mat-form-field>

<ng-container *ngIf="language == 'german'">
  <p>Hallo</p>
  <p>Willkommen auf Ihrer Supply-Chain-Anwendung. </p>
  <p>Diese Dashboard-Seite dient Ihnen als Willkommensseite und gibt Ihnen einen kurzen Überblick, über den Benutzung
    dieser Anwendung.<br />
    Über die seitliche Navigation erreichen Sie alle relevanten Punkte.<br />
    Zuerst sollten Sie Ihre Daten über „Import-XML“ hochladen, damit das Tool eine Basis hat, um Ihnen bei ihren
    Eingaben zu unterstützen.<br />
    Anschließend können Sie sich den aktuellen Lagerbestand anschauen („Bestand“), oder mit der eigentlichen Planung
    fortfahren. <br />
    Nach vollzogener Planung stehen Ihre Daten als XML unter „Export-XML“ bereit. </p>
</ng-container>

<ng-container *ngIf="language == 'english'">
  <p>Hello</p>
  <p>Welcome to your Supply Chain application.</p>
  <p>This dashboard page serves as a welcome page and gives you a short overview of how to use this application.<br />
    You can reach all relevant points via the side navigation.<br />
    First you should upload your data via "Import-XML", so that the tool has a basis to support you with your
    entries.<br />
    Afterwards you can view the current stock ("Stock"), or continue with the actual planning. <br />
    After completed planning, your data will be available to download as XML under "Export-XML".</p>
</ng-container>