<table class="purchasePartDispositionTable">
    <thead>
        <tr>
            <th>Artikel</th>
            <th>Anfangsbestand</th>
            <th colspan="3">Verwendung in Periode</th>
            <th>Lieferfrist Eilbestellung</th>
            <th>Lieferfrist inkl. Abweichung</th>
            <th colspan="4">Bruttobedarf in Periode</th>
            <th>Diskontmenge</th>
            <th colspan="2">Bestellmenge und Bestellart</th>
            <th>Status</th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <!-- Verwendung in Periode -->
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <!-- Lieferfrist Eilbestellung und Abweichung -->
            <th></th>
            <th></th>
            <!-- Bruttobedarf in Periode -->
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th></th>
            <!-- Bestellmenge und Bestellart -->
            <th></th>
            <th></th>
            <!-- Status -->
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let purchasePart of purchaseParts">
            <!-- Artikel -->
            <td>{{ purchasePart.itemNumber }}</td>
            <!-- Anfangsbestand -->
            <td>{{ purchasePart.initialStock }}</td>
            <!-- Verwendung in Periode -->
            <td>???</td>
            <td>???</td>
            <td>???</td>
            <!-- Lieferfrist Eilbestellung und Abweichung -->
            <td>{{ purchasePart.deliveryTimeFast }}</td>
            <td>{{ purchasePart.deliveryTimeWithDeviation }}</td>
            <!-- Bruttobedarf in Periode -->
            <td>{{ purchasePart.requirementN }}</td>
            <td>{{ purchasePart.requirementNplusOne }}</td>
            <td>{{ purchasePart.requirementNplusTwo }}</td>
            <td>{{ purchasePart.requirementNplusThree }}</td>
            <!-- Diskontmenge -->
            <td>{{ purchasePart.discountQuantity }}</td>
            <!-- Bestellmenge und Bestellart -->
            <td><input [(ngModel)]="purchasePart.orderQuantity" type="number" /></td>
            <td><input [(ngModel)]="purchasePart.orderType" type="number" /></td>
            <!-- Status -->
            <td>
                <!-- <mat-icon class="green_circle">circle</mat-icon> -->
                <mat-icon [ngClass]="colorCircle(purchasePart.orderColor)">circle</mat-icon>
            </td>
        </tr>
    </tbody>
</table>